{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/detail.css' %}">

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <h1><label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label></h1><br>
{% endfor %}
<input type="submit" size="500" value="Проголосовать">
<!--<button><input type="submit" value="Проголосовать"></button>-->
<!--<button action="{% url 'polls:vote' question.id %}" method="post">Проголосовать</button>-->
</form>

<button><a href="{% url 'polls:index' %}">Назад</a></button>
