body{ background-color: white;}

li {
  display: block;
  border: solid 1px #5b92e5;
  padding: 14px;
  margin-bottom: 10px;
  position: relative;
}
li .perc-back {
  background: #66c5e2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: "100%";
  z-index: -1;
}

button {
  background-color: #66c5e2;
  width: 302px;
  border: 0;
  padding: 10px 0;
  margin: 5px 0;
  text-align: center;
  color: #5b92e5;
  font-weight: bold;
}