li {
    display: block;
    border: solid 1px #d2dfe5;
    padding: 14px;
    margin-bottom: 10px;
    position: relative;
  }
  li .perc-back {
    background: #d2dfe5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  
  button {
    float: right;
    background: #007cb0;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 0 30px;
    font-size: 20px;
    line-height: 40px;
  }
  

